
BODY {
  font-family: Arial, Verdana, sans-serif;
}

textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size-adjust: 1.4;
  font-size: larger;
  width: 100%;
  box-sizing: border-box;
}

.yaroklava {

}

.klaviatura{
  width: 994px;
  margin: 0 auto;
}
.klaviatura .row{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  clear: both;
}

.klaviatura .key {
  width: 60px;
  height: 40px;
  float: left;
  cursor: pointer;
  color: #000000;
  margin-left: 6px;
  text-align: center;
  line-height: 40px;
  background-color: #fce25b;
  hint: "Wow!";
}
.klaviatura .key:hover{
  background-color: #f9de53;
}
.klaviatura .backspace{
  width: 80px;
}
.klaviatura .capslock{
  text-decoration: line-through;
  width: 115px;
}
.klaviatura .shift {
  width: 136px;
}
.klaviatura .enter {
  width: 91px;
}
.klaviatura .capslock,.klaviatura .shift{
  color: #4e2f2f;
}
.klaviatura .tab{
  width: 80px;
}
.klaviatura .space{
  width: 500px;
  margin-left: 225px;
}
.klaviatura sup{
  margin: -10px 0 0 -24px;
  font-size: 12px;
  position: absolute;
}

#result{
  width: 680px;
  height: 80px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}
